<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="{{page.description}}">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <title>{{ page.title }}</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114109105-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114109105-1', { 'anonymize_ip': true });
</script>
  </head>

  <body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title">Microservices - A Practical Guide</h1>
          <h2 id="project_tagline">Principles, Concepts, and Recipes</h2>
      <section id="links">
        <a href="index.html">Home</a>
        <a href="recipes.html">FREE Recipes</a>
        <a href="content.html">Content</a>
        <a href="sample.html">Samples</a>
        <a href="code.html">Code</a>
        <a href="errata.html">Errata</a>
        <a href="buy.html">Buy</a>
        <a href="links.html">Links</a>
      </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

      {{ content }}

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Copyright Eberhard Wolff</p>
        <p>Published with <a href="https://pages.github.com">GitHub
      Pages</a>
      <a href="datenschutzerklaerung.html">Datenschutzerklärung</a>
      <a href="impressum.html">Impressum</a></p>
      </p>
      </footer>
    </div>

  </body>
</html>
